@font-face {
    font-family: rrfr;
    /* Имя шрифта */
    src: url('TriviaSansLight.otf');
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: hard;
    /* Имя шрифта */
    src: url('GloberBoldFree.otf');
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: TriviaSansRegular;
    /* Имя шрифта */
    src: url(../fonts/TriviaSansRegular.otf);
    /* Путь к файлу со шрифтом */
}

.vertical_cl_1 {
    font-family: rrfr !important;
}

.a_g {
    margin-bottom: -30px !important;
}

.prof {
    width: 80%;
    padding-top: 10px;
}

.y,
div,
.m-font,
.a1 {
    font-family: rrfr !important;
    font-size: 30px;
}

.f-hrd,
.proect h3 {
    font-family: hard !important;
    font-size: 30px;
}

a {
    color: black;
}


/*цвета фонов */

.bg-blue {
    background-color: #63b8ff;
}

.bg-gray {
    background-color: #bdcbd4;
}

.bg-orange {
    background-color: #f8931f;
}

.bg-dark {
    background-color: #666666;
}

[class*="col-"] {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-family: rrr;
    height: auto;
}

body {
    font-family: rrr !important;
    margin: 0 !important;
}

.rrrr {
    display: none;
}


/*div {border: 1px solid gray;}*/

.t div {
    width: 20%;
}

.footer {
    height: 140px;
}

.logo {
    padding-top: 10px;
    height: 110px;
}

.footer div:nth-child(3),
.footer div:nth-child(4),
.footer div:nth-child(5),
.footer div:nth-child(6) {
    padding-top: 50px;
    font-size: 20px;
}

.robo img {
    width: 35%;
    margin: 20px;
}

.footer a {
    text-decoration: none;
}


/* 3 строка выбор технологий */

.tex {
    width: 20%;
    overflow: hidden;
}

.tex1 {
    width: 10%
}

.tex,
.tex1 {
    min-height: 650px;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    padding-top: 70px;
}

.block-t {
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
}

.block-t p {
    background-color: white;
    display: block;
    min-height: 345px;
    max-height: 365px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px 15px 5px;
    overflow: hidden;
    text-align: left;
    line-height: 1.3;
}

.block-t h1 {
    padding: 15px 0px 7px 0px;
    font-size: 22pt;
}


/* Новые курсы */

.curs a {
    border: 3px solid #63b8ff;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    width: 100%;
    border-radius: 15px;
}

.curs2 a {
    font-size: 20px;
}

.curs a:hover {
    text-decoration: none;
    border: 3px solid #f8931f;
    background-color: #f8931f;
}

.img-curs {
    width: 100%;
}


/* Горизонтальная линия */

.solid {
    background-image: url(../images/111.png);
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-position: bottom;
}

.img-ivent {
    width: 200%;
    float: left;
    padding: 0;
    margin-top: 10px;
}

.fl {
    float: left;
}

.fl-a {
    position: relative;
    font-size: 15px;
    top: -60px;
}

.padnone {
    padding: 0px;
}


/* хакатон */

.evimg {
    display: block;
    width: 135px;
    height: 135px;
    background-color: #f8931f;
    border-radius: 30px;
    padding-top: 20%;
    font-size: 30px
}

.ev1 h1 {
    font-size: 35px;
    font-family: 'rrfr';
    top: -20px;
    position: relative;
}

.ev2 p {
    font-size: 16px;
    top: -60px;
    position: relative;
}

.fl-a {
    color: #bccdd7;
    font-size: 16px
}

.ev2 p {
    font-size: 20px;
}

.ev3 {
    top: -20px;
}


/* менторство */

.ment {
    background-color: #f9f9f7;
}

.ment img,
.proect img {
    width: 60%;
}

.ment a {
    float: left;
    text-decoration: none;
    color: black;
    font-size: 15pt;
    width: 50%;
    padding: 3% 0px 2%;
    border-radius: 15px;
}

.ment p {
    text-align: left;
}

.ment a:hover {
    color: white;
}


/* о проекте */

.proect p,
.proect h3 {
    text-align: left;
}

.proect h3 {
    color: #63b8ff;
    padding-bottom: 20px;
}

.proect li {
    text-align: left;
    padding: 0;
    position: relative;
    left: -20px;
}


/* контакты */

h5 {
    text-align: left;
    font-size: 15pt;
    padding-bottom: 10px;
}

h6 {
    text-align: left;
    font-size: 18pt;
    padding-bottom: 10px;
}

.cont img {
    width: 20%;
    text-align: left;
    float: left;
    padding-right: 10px;
}

.cont img:hover {
    filter: sepia(2);
}


/* размеры шрифтов */

.fz-25pt {
    font-size: 25pt;
}

.block-t p,
.ment p {
    font-size: 15pt;
}

.proect li,
{
    font-size: 18px;
}

.a1 {
    font-size: 20px;
}

.footer a,
.proect h3 {
    font-size: 20pt;
}

.robo h1 {
    font-size: 63pt;
    margin: -60px;
}

.robo h3 {
    margin: 40px;
}


/* пробел между блоками*/

.nnnn {
    height: 50px;
}

.nnnn2 {
    height: 15px;
}

h4 {
    font-size: 20pt;
}

.end1,
.end2,
.end3,
.end4 {
    background-color: #63b8ff;
    height: 50px;
}

.end2 {
    background-color: #bdcbd4;
}

.end3 {
    background-color: #f8931f;
}

.end4 {
    background-color: #666666;
}

a:hover {
    text-decoration: none;
}

.a1 {
    display: block;
    height: 300px;
    width: 120px;
    position: absolute;
    right: 0px;
    top: 145px;
    background-color: #bdcbd4;
    margin: 0;
    border-top: 1px solid #eee;
    text-decoration: none;
    overflow: hidden;
    padding-top: 130px;
}

.a1 a {
    display: block;
    transform: rotate(270deg);
    font-size: 20px;
}

.mmmmment {
    width: 100%;
    background-color: #f9f9f7;
}